In [42]:
import pandas as pd
import numpy as np
import json
import requests
pd.set_option('precision', 0)

In [68]:

%%capture

from tqdm import tqdm_notebook as tqdm
from tqdm import tnrange
tqdm().pandas()

In [43]:
df = pd.read_csv("links.csv")

In [44]:
df

      movieId   imdbId  tmdbId
0           1   114709     862
1           2   113497    8844
2           3   113228   15602
3           4   114885   31357
4           5   113041   11862
...       ...      ...     ...
9737   193581  5476944  432131
9738   193583  5914996  445030
9739   193585  6397426  479308
9740   193587  8391976  483455
9741   193609   101726   37891

[9742 rows x 3 columns]

In [51]:
link_list = df['tmdbId'].fillna(0).tolist()

In [52]:
link_list

[862.0,
 8844.0,
 15602.0,
 31357.0,
 11862.0,
 949.0,
 11860.0,
 45325.0,
 9091.0,
 710.0,
 9087.0,
 12110.0,
 21032.0,
 10858.0,
 1408.0,
 524.0,
 4584.0,
 5.0,
 9273.0,
 11517.0,
 8012.0,
 1710.0,
 9691.0,
 12665.0,
 451.0,
 16420.0,
 9263.0,
 17015.0,
 902.0,
 37557.0,
 9909.0,
 63.0,
 9598.0,
 687.0,
 33689.0,
 9603.0,
 34615.0,
 31174.0,
 11443.0,
 35196.0,
 9312.0,
 577.0,
 11861.0,
 807.0,
 10530.0,
 8391.0,
 629.0,
 11448.0,
 49133.0,
 26441.0,
 97406.0,
 9089.0,
 11010.0,
 11359.0,
 17182.0,
 2054.0,
 10607.0,
 19760.0,
 9536.0,
 11525.0,
 4482.0,
 10634.0,
 755.0,
 11859.0,
 28387.0,
 48750.0,
 20927.0,
 36929.0,
 9102.0,
 124626.0,
 27526.0,
 9623.0,
 46785.0,
 400.0,
 880.0,
 146599.0,
 8447.0,
 10534.0,
 17414.0,
 13997.0,
 2086.0,
 9095.0,
 12158.0,
 9283.0,
 9208.0,
 40154.0,
 406.0,
 63076.0,
 11062.0,
 13685.0,
 47475.0,
 2045.0,
 9614.0,
 688.0,
 11907.0,
 10874.0,
 89333.0,
 197.0,
 103.0,
 33542.0,
 43566.0,
 51352.0,
 16934.0,
 10324.0,
 78406.0,
 32119.0,
 11066.0,
 11104.0,
 2074.0,
 27793.0,
 290157.0,
 110972.0,
 11863.0,
 9101.0,
 5757.0,
 9302.0,
 11000.0,
 16388.0,
 9737.0,
 30765.0,
 10474.0,
 22279.0,
 30157.0,
 568.0,
 11780.0,
 34996.0,
 414.0,
 649.0,
 1873.0,
 5894.0,
 1775.0,
 8839.0,
 20649.0,
 10329.0,
 8963.0,
 26564.0,
 8068.0,
 8512.0,
 1572.0,
 13552.0,
 6520.0,
 9073.0,
 10428.0,
 17447.0,
 9886.0,
 9482.0,
 19326.0,
 9344.0,
 9071.0,
 8973.0,
 15730.0,
 47608.0,
 2293.0,
 9070.0,
 48787.0,
 34574.0,
 1642.0,
 11472.0,
 36196.0,
 11980.0,
 58372.0,
 32646.0,
 10533.0,
 10802.0,
 10149.0,
 18402.0,
 9348.0,
 281.0,
 5967.0,
 47939.0,
 36834.0,
 9090.0,
 3512.0,
 52856.0,
 77350.0,
 9560.0,
 9804.0,
 31611.0,
 65796.0,
 49805.0,
 26258.0,
 50797.0,
 19155.0,
 76.0,
 11017.0,
 37141.0,
 9382.0,
 6715.0,
 18256.0,
 22625.0,
 2292.0,
 1909.0,
 8984.0,
 4954.0,
 62488.0,
 10531.0,
 11929.0,
 8467.0,
 10451.0,
 20156.0,
 18395.0,
 522.0,
 397.0,
 10525.0,
 27985.0,
 15789.0,
 27303.0,
 21183.0,
 10954.0,
 47867.0,
 14275.0,
 1024.0,
 17207.0,
 13701.0,
 14819.0,
 32631.0,
 11777.0,
 628.0,
 87729.0,
 18713.0,
 6280.0,
 9061.0,
 37108.0,
 6071.0,
 11.0,
 9587.0,
 19101.0,
 49980.0,
 18183.0,
 4476.0,
 11008.0,
 32325.0,
 43742.0,
 28313.0,
 11318.0,
 3036.0,
 40490.0,
 24070.0,
 8986.0,
 10510.0,
 17402.0,
 38722.0,
 8438.0,
 11593.0,
 1945.0,
 39310.0,
 109560.0,
 56428.0,
 131957.0,
 241.0,
 9058.0,
 527.0,
 18220.0,
 6950.0,
 101.0,
 63020.0,
 2307.0,
 680.0,
 25296.0,
 40156.0,
 11450.0,
 30304.0,
 10452.0,
 12106.0,
 161495.0,
 3586.0,
 110.0,
 108.0,
 109.0,
 36357.0,
 92769.0,
 28033.0,
 22586.0,
 14334.0,
 2636.0,
 2164.0,
 11395.0,
 278.0,
 9905.0,
 87078.0,
 12527.0,
 20306.0,
 36614.0,
 27993.0,
 31439.0,
 9067.0,
 9059.0,
 193.0,
 25066.0,
 46797.0,
 12122.0,
 11381.0,
 32636.0,
 36141.0,
 95963.0,
 1587.0,
 9271.0,
 2064.0,
 19855.0,
 60855.0,
 236.0,
 48287.0,
 3049.0,
 2759.0,
 12635.0,
 10497.0,
 11382.0,
 9331.0,
 10731.0,
 10464.0,
 34152.0,
 9495.0,
 29973.0,
 888.0,
 13.0,
 712.0,
 16295.0,
 48992.0,
 10879.0,
 10660.0,
 10714.0,
 41647.0,
 8587.0,
 1689.0,
 11596.0,
 854.0,
 9359.0,
 23333.0,
 36593.0,
 12280.0,
 2788.0,
 10427.0,
 11011.0,
 8987.0,
 1637.0,
 15128.0,
 8831.0,
 36955.0,
 10449.0,
 10395.0,
 12160.0,
 40480.0,
 52038.0,
 29444.0,
 26352.0,
 39953.0,
 41580.0,
 315.0,
 22067.0,
 11667.0,
 8011.0,
 171857.0,
 2654.0,
 18069.0,
 19092.0,
 2758.0,
 10436.0,
 13595.0,
 46094.0,
 9409.0,
 11853.0,
 16771.0,
 46924.0,
 11041.0,
 306.0,
 14522.0,
 26203.0,
 178.0,
 19819.0,
 57834.0,
 4722.0,
 18215.0,
 1607.0,
 26391.0,
 117553.0,
 6075.0,
 11310.0,
 18658.0,
 9350.0,
 9612.0,
 2124.0,
 26261.0,
 19176.0,
 11566.0,
 9571.0,
 9739.0,
 34444.0,
 26141.0,
 10997.0,
 10443.0,
 20239.0,
 16297.0,
 18551.0,
 25440.0,
 9024.0,
 37233.0,
 1634.0,
 13815.0,
 5503.0,
 35588.0,
 2087.0,
 41579.0,
 18620.0,
 2019.0,
 9255.0,
 26271.0,
 10612.0,
 2259.0,
 16097.0,
 11934.0,
 106143.0,
 12475.0,
 9386.0,
 7984.0,
 59930.0,
 15765.0,
 31643.0,
 6.0,
 329.0,
 10909.0,
 507.0,
 29918.0,
 9593.0,
 42580.0,
 22317.0,
 1413.0,
 12121.0,
 2246.0,
 10502.0,
 10440.0,
 9516.0,
 2320.0,
 5879.0,
 83718.0,
 11971.0,
 31911.0,
 788.0,
 21450.0,
 11231.0,
 10447.0,
 31586.0,
 9300.0,
 9559.0,
 9800.0,
 713.0,
 8291.0,
 18133.0,
 25557.0,
 22588.0,
 10872.0,
 1245.0,
 11858.0,
 7007.0,
 10467.0,
 5550.0,
 8005.0,
 2088.0,
 10412.0,
 47889.0,
 14534.0,
 41878.0,
 424.0,
 35233.0,
 14291.0,
 11236.0,
 11592.0,
 8850.0,
 10445.0,
 695.0,
 43535.0,
 12519.0,
 23210.0,
 858.0,
 867.0,
 78.0,
 13203.0,
 10442.0,
 11074.0,
 9607.0,
 17585.0,
 9057.0,
 20967.0,
 10635.0,
 9479.0,
 10057.0,
 11969.0,
 319.0,
 26408.0,
 15139.0,
 11446.0,
 51980.0,
 24405.0,
 8223.0,
 14587.0,
 31504.0,
 23637.0,
 17600.0,
 10897.0,
 21352.0,
 68806.0,
 37345.0,
 32562.0,
 25403.0,
 9066.0,
 771.0,
 251.0,
 812.0,
 280.0,
 581.0,
 268.0,
 274.0,
 408.0,
 10020.0,
 10895.0,
 114.0,
 576.0,
 15477.0,
 124472.0,
 7300.0,
 10824.0,
 275.0,
 25059.0,
 11827.0,
 8766.0,
 23570.0,
 47333.0,
 51242.0,
 10112.0,
 4307.0,
 46029.0,
 32308.0,
 28121.0,
 12520.0,
 1592.0,
 19042.0,
 38884.0,
 47449.0,
 36259.0,
 41852.0,
 40926.0,
 9099.0,
 2021.0,
 61752.0,
 10988.0,
 12652.0,
 10684.0,
 954.0,
 68445.0,
 18989.0,
 8840.0,
 11107.0,
 10539.0,
 10543.0,
 18414.0,
 11902.0,
 25087.0,
 5801.0,
 896.0,
 3065.0,
 2300.0,
 8069.0,
 27768.0,
 221917.0,
 8072.0,
 33245.0,
 27281.0,
 40001.0,
 29621.0,
 20762.0,
 37144.0,
 12656.0,
 38867.0,
 25969.0,
 43634.0,
 9103.0,
 29649.0,
 10990.0,
 8866.0,
 12233.0,
 23449.0,
 36355.0,
 922.0,
 11876.0,
 11687.0,
 9304.0,
 503475.0,
 73183.0,
 9100.0,
 20759.0,
 46063.0,
 32513.0,
 36915.0,
 9802.0,
 21588.0,
 664.0,
 11867.0,
 9323.0,
 10280.0,
 10535.0,
 532.0,
 16299.0,
 10547.0,
 935.0,
 40751.0,
 85778.0,
 11101.0,
 9826.0,
 9879.0,
 22621.0,
 7095.0,
 26890.0,
 77771.0,
 41225.0,
 627.0,
 32872.0,
 602.0,
 14553.0,
 9566.0,
 10545.0,
 9894.0,
 11543.0,
 9268.0,
 9327.0,
 81949.0,
 0.0,
 44535.0,
 11228.0,
 10779.0,
 26748.0,
 38223.0,
 9294.0,
 49963.0,
 11363.0,
 1645.0,
 31546.0,
 36344.0,
 18550.0,
 11511.0,
 34170.0,
 12606.0,
 4837.0,
 12632.0,
 18975.0,
 11962.0,
 2925.0,
 3595.0,
 9308.0,
 18555.0,
 12123.0,
 10830.0,
 3573.0,
 10546.0,
 18862.0,
 31417.0,
 9431.0,
 47907.0,
 10061.0,
 549.0,
 10478.0,
 238.0,
 11134.0,
 9303.0,
 23945.0,
 22479.0,
 9054.0,
 410921.0,
 38955.0,
 11015.0,
 9306.0,
 12559.0,
 58770.0,
 3587.0,
 10723.0,
 19004.0,
 101230.0,
 10987.0,
 44705.0,
 20318.0,
 26933.0,
 27854.0,
 981.0,
 872.0,
 2769.0,
 13320.0,
 164.0,
 426.0,
 567.0,
 3078.0,
 13528.0,
 28288.0,
 213.0,
 284.0,
 239.0,
 4808.0,
 289.0,
 963.0,
 11113.0,
 6620.0,
 804.0,
 26531.0,
 909.0,
 630.0,
 770.0,
 31044.0,
 599.0,
 15.0,
 62.0,
 705.0,
 22490.0,
 223.0,
 25670.0,
 303.0,
 4174.0,
 8356.0,
 381.0,
 20758.0,
 29376.0,
 1859.0,
 18299.0,
 17281.0,
 10907.0,
 32093.0,
 1939.0,
 22292.0,
 3598.0,
 3080.0,
 198.0,
 13562.0,
 1712.0,
 220.0,
 3529.0,
 3085.0,
 2897.0,
 1585.0,
 3083.0,
 900.0,
 43795.0,
 43905.0,
 23114.0,
 40206.0,
 260.0,
 10331.0,
 488.0,
 22733.0,
 261.0,
 32574.0,
 22649.0,
 125587.0,
 52855.0,
 39940.0,
 85328.0,
 11076.0,
 63945.0,
 58985.0,
 10861.0,
 1770.0,
 2033.0,
 18203.0,
 9333.0,
 9400.0,
 9401.0,
 11306.0,
 9625.0,
 10680.0,
 6346.0,
 18660.0,
 35115.0,
 14821.0,
 14136.0,
 10869.0,
 22660.0,
 19186.0,
 31102.0,
 6878.0,
 15944.0,
 18444.0,
 20723.0,
 173.0,
 864.0,
 24795.0,
 11224.0,
 81310.0,
 15947.0,
 9078.0,
 8367.0,
 433.0,
 11360.0,
 11114.0,
 12335.0,
 12092.0,
 10948.0,
 11229.0,
 15121.0,
 562.0,
 10163.0,
 47199.0,
 11159.0,
 9591.0,
 30500.0,
 10938.0,
 11412.0,
 10586.0,
 42314.0,
 27845.0,
 23223.0,
 49471.0,
 38153.0,
 25147.0,
 9716.0,
 454.0,
 10218.0,
 819.0,
 11238.0,
 31530.0,
 28120.0,
 252.0,
 16372.0,
 11561.0,
 11302.0,
 623.0,
 583.0,
 12614.0,
 21711.0,
 11575.0,
 475.0,
 11331.0,
 521.0,
 88.0,
 500.0,
 792.0,
 8491.0,
 402.0,
 10537.0,
 11386.0,
 9504.0,
 15764.0,
 601.0,
 25842.0,
 2119.0,
 744.0,
 221.0,
 702.0,
 25750.0,
 0.0,
 9305.0,
 37616.0,
 21612.0,
 102461.0,
 36998.0,
 116844.0,
 1630.0,
 26626.0,
 124837.0,
 11816.0,
 11843.0,
 10379.0,
 2756.0,
 790.0,
 1103.0,
 11298.0,
 4480.0,
 4481.0,
 10765.0,
 762.0,
 44497.0,
 99479.0,
 124829.0,
 10548.0,
 531.0,
 4483.0,
 18919.0,
 61461.0,
 659.0,
 30892.0,
 86369.0,
 38554.0,
 36555.0,
 10608.0,
 11216.0,
 7452.0,
 892.0,
 1600.0,
 26561.0,
 975.0,
 18129.0,
 54405.0,
 409.0,
 38251.0,
 10161.0,
 1412.0,
 41768.0,
 10409.0,
 14285.0,
 2469.0,
 10174.0,
 31225.0,
 510.0,
 11455.0,
 1891.0,
 2493.0,
 85.0,
 68.0,
 679.0,
 429.0,
 13446.0,
 389.0,
 947.0,
 185.0,
 595.0,
 28.0,
 335.0,
 1892.0,
 144.0,
 1092.0,
 769.0,
 348.0,
 766.0,
 175.0,
 11645.0,
 10835.0,
 539.0,
 525.0,
 240.0,
 600.0,
 530.0,
 10705.0,
 279.0,
 3109.0,
 311.0,
 1578.0,
 703.0,
 9549.0,
 1398.0,
 387.0,
 9277.0,
 343.0,
 37291.0,
 490.0,
 11235.0,
 218.0,
 763.0,
 9665.0,
 18971.0,
 696.0,
 379.0,
 207.0,
 37247.0,
 1480.0,
 9322.0,
 826.0,
 422.0,
 829.0,
 828.0,
 3090.0,
 9964.0,
 3063.0,
 13667.0,
 694.0,
 235.0,
 832.0,
 765.0,
 5925.0,
 11778.0,
 4485.0,
 137.0,
 33.0,
 982.0,
 8428.0,
 212.0,
 105.0,
 1633.0,
 11202.0,
 1554.0,
 149.0,
 8009.0,
 903.0,
 11673.0,
 3034.0,
 339.0,
 10404.0,
 914.0,
 756.0,
 288.0,
 910.0,
 2640.0,
 16633.0,
 665.0,
 11031.0,
 11314.0,
 15143.0,
 89.0,
 10322.0,
 783.0,
 10644.0,
 11257.0,
 14370.0,
 12104.0,
 625.0,
 8816.0,
 830.0,
 ...]

In [53]:
link_list = list(map(int,link_list))

In [56]:
len_list = len(link_list)

In [65]:
plot_df = pd.DataFrame(columns=['tmdb_id', 'plot'])
plot_df

Empty DataFrame
Columns: [tmdb_id, plot]
Index: []

In [75]:
for num in tqdm(link_list[8712:]):
    if num == 0:
        plot_df = plot_df.append({'tmdb_id': num, 'plot' : "not applicable"} , ignore_index=True)
    else:
        url = 'https://api.themoviedb.org/3/movie/'+ str(num) +'?api_key=4b1c7165172d96b4531d9d50f7464660&language=en-US'
        response = requests.get(url)
        data = response.json()
        plot = data.get('overview')
        plot_df = plot_df.append({'tmdb_id': num, 'plot' : plot} , ignore_index=True)

HBox(children=(IntProgress(value=0, max=1030), HTML(value='')))

In [76]:
plot_df

     tmdb_id                                               plot
0        862  Led by Woody, Andy's toys live happily in his ...
1       8844  When siblings Judy and Peter discover an encha...
2      15602  A family wedding reignites the ancient feud be...
3      31357  Cheated on, mistreated and stepped on, the wom...
4      11862  Just when George Banks has recovered from his ...
...      ...                                                ...
9737  432131  Ciel learns of a "Aurora Society", that is rum...
9738  445030  In ancient Disboard, Riku is an angry, young w...
9739  479308  A woman deals with the toxic water scandal in ...
9740  483455  Power users around the world are suddenly comm...
9741   37891  Outrageous, misogynistic and vulgar-to-the-max...

[9742 rows x 2 columns]

In [77]:
plot_df.to_csv("plot.csv")